body {
  background: aquamarine;
}

main {
  /* display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; */
  width: 60vw;
  min-width: 600px;
  margin: 0 auto;
}

.bubble-list {
  float: left;
  height: 100vmin;
  width: 15vmin;
  min-width: 120px;
  justify-content: center;
  align-items: center;
}

.verticalized {
  display: flex;
  flex-flow: row wrap;
}

.horizontalized {
  display: block;
}

.bubble {
  border: 2px solid black;
  background: yellow;
  padding: 5px;
}

button {
  width: 100px;
  height: 30px;
}



/* THE GAME BOARD */

.playerboard {
  float: right;
  display: grid;
  grid-template-columns: repeat(11,8vmin);
  grid-template-rows: repeat(11,8vmin);
  margin-bottom: 3vmin;
}

div {
  border: 2px solid red;
}

.label {
  background: white;
}

.playable {
  background: dodgerblue;
}

.active {
  color: yellow;
}

/* .available {
  background: green;
} */

.taken {
  background: gray;
}