body {
  width: 70vw;
  background: aquamarine;
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

#jsyk {
  width: 100vw;
  transform: translateX(-15vw);
  border: none;
  position: absolute;
  padding: 20px;
  color: whitesmoke;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.gentle {
  background: lightseagreen;
}

.alert {
  background: orange;
}

main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.bubble-list {
  height: 100vmin;
  min-width: 120px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.verticalized {
  display: flex;
  flex-flow: row wrap;
}

.horizontalized {
  display: block;
}

.bubble {
  border: 2px solid black;
  background: yellow;
  padding: 5px;
}

button {
  width: 100px;
  height: 30px;
}



/* THE GAME BOARD */

.playerboard {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(11,8vmin);
  grid-template-rows: repeat(11,8vmin);
  margin-bottom: 5vmin;
}

div {
  border: 2px solid red;
}

.label {
  background: white;
}

.playable {
  background: dodgerblue;
}

.active {
  background-color: yellow;
}

.dont {
  background-color: red;
}

.taken {
  background: gray;
  border-radius: 50%;
}